<style>
    img.logo {
        width: auto;
        height: 96px;
    }
    [md-raised-button] {
        min-width: 0px !important;
    }
    [md-raised-button] > span.text {
        min-width: 88px !important;
    }
    [md-raised-button] > span.icon {
        min-width: 36px !important;
        min-height: 36px !important;
    }
</style>
<md-toolbar id="header" layout-padding>
    <div layout="row">
        <div><img class="logo" src="./assets/img/angular-logo.png"></div>
        <div flex layout="column">
            <div layout="row">
                <md-toolbar>
                    <h2 class="md-toolbar-item md-breadcrumb md-headline" translate><%= TODO: APP_TITLE %></h2>
                </md-toolbar>
                <div id="toolbar" layout="row" layout-align="end center" flex>
                    <button md-raised-button aria-label="Download pdf">
                        <span class="text" hide-md hide-sm hide-xs show-gt-md>Download pdf</span>
                        <span class="icon" layout layout-align="center center" show-md hide-gt-md>
                            <i class="mdi mdi-download"></i>
                        </span>
                    </button>
                    <button md-raised-button aria-label="Sign out" [routerLink]="['/Public/Login']">
                        <span class="text" hide-md hide-sm hide-xs show-gt-md>Sign out</span>
                        <span class="icon" layout layout-align="center center" show-md hide-gt-md>
                            <i class="mdi mdi-logout"></i>
                        </span>
                    </button>
                </div>
            </div>
            <navigation-menu></navigation-menu>
        </div>
    </div>
</md-toolbar>