<style>
    img.logo {
        width: auto;
        height: 96px;
    }
</style>
<md-toolbar id="header" layout-padding>
    <div layout="row">
        <div><img class="logo" src="./assets/img/angular-logo.png"></div>
        <div flex layout="column">
            <div layout="row">
                <md-toolbar>
                    <h2 class="md-toolbar-item md-breadcrumb md-headline" translate><%= TODO: APP_TITLE %></h2>
                </md-toolbar>
                <div id="toolbar" layout="row" layout-align="end center" flex>
                    <button md-fab class="md-mini" aria-label="PDF">
                        <span layout layout-align="center center">
                            <i class="mdi mdi-download"></i>
                        </span>
                    </button>
                    <button md-fab class="md-mini" aria-label="Sign out" [routerLink]="['/Public/Login']">
                        <span layout layout-align="center center">
                            <i class="mdi mdi-logout"></i>
                        </span>
                    </button>
                </div>
            </div>
            <navigation-menu></navigation-menu>
        </div>
    </div>
</md-toolbar>