<style>
    div.toggle-container {
        background-color: #eeeeee;
        cursor: pointer !important;
    }
    div.toggle-container:hover {
        background-color: #dddddd;
    }
    a.toggle:focus {
        outline:0 !important;
    }
</style>
<div flex layout="row">
    <div flex layout="row" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" *ngIf="data.sidenav.visible">
        <div layout="column" flex>
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools" translate>Description</h1>
            </md-toolbar>
            <md-content flex layout [innerHTML]="routeData.data?.description" style="width: 300px;">
            </md-content>
        </div>
        <div class="toggle-container" layout="row" layout-align="center center" (click)="toggleSidenav()" *ngIf="data.sidenav.visible" title="Close description.">
            <a class="toggle" aria-label="Toggle" layout layout-align="center center" *ngIf="data.sidenav.visible">
                <i class="mdi mdi-menu-left"></i>
            </a>
        </div>
    </div>
    <div class="toggle-container" layout="row" layout-align="center center" (click)="toggleSidenav()" *ngIf="!data.sidenav.visible" title="Open description.">
        <div>
            <a class="toggle" aria-label="Toggle">
                <i class="mdi mdi-menu-right"></i>
            </a>
        </div>
    </div>
</div>
