<style>
    [md-raised-button] {
        min-width: 0px !important;
    }
    [md-raised-button] > span.text {
        min-width: 88px !important;
    }
    [md-raised-button] > span.icon {
        min-width: 24px !important;
        min-height: 24px !important;
    }
    [md-raised-button].router-link-active {
        color: white;
        background-color: #e91e63;
    }
</style>
<div id="menu">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <button
                md-raised-button
                *ngFor="#route of routes"
                [routerLink]="['/Shell/' + route.name]"
                (mouseover)="mouseOverComponent=route.component.name"
                (mouseout)="mouseOverComponent=undefined"
                [ngClass]="{'md-accent': mouseOverComponent ==  route.component.name}">
                <span class="text" hide-md hide-sm hide-xs show-gt-md>{{route.data.label}}</span>
                <span class="icon" layout layout-align="center center" show-md hide-gt-md>
                    <i [class]="'mdi ' + route.data.icon"></i>
                </span>
            </button>
        </div>
    </md-toolbar>
</div>