<style>
    md-card { width: 320px; height: 240px; }
    input { width: 100%; }
</style>
<md-content>
    <md-card layout-padding>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Sign In</span>
            </md-card-title-text>
        </md-card-title>
        <form layout="column" style="width: 100%;"
            novalidate #form="ngForm" (ngSubmit)="submit(form.value)">
            <md-input-container class="md-block">
                <label>Username</label>
                <input ngControl="username" #username="ngForm"
                    [ngClass]="{'invalid': !username.valid && !username.pristine  && !username.untouched}"
                    id="username" type="text" class="validate">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Password</label>
                <input ngControl="password" #password="ngForm"
                    [ngClass]="{'invalid': !password.valid && !password.pristine  && !password.untouched}"
                    id="password" type="password" class="validate">
            </md-input-container>
            <md-card-actions layout="row" layout-align="end center">
                <button type="submit" md-raised-button class="right" aria-label="Login" (click)="submit(form.value)" [disabled]="!form.valid">Login</button>
            </md-card-actions>
        </form>
    </md-card>
</md-content>